@{
    Layout = "~/Views/Shared/_LayoutForContent.cshtml";
}

<div ng-init="getData(); getLoginDataFunc(); getUsersDataFunc(); currentPage = 'Dashboard';" class="mainContainer">
    <div class="min-h-screen flex justify-center text-white">
        <div class="w-full max-w-[90%] p-8" style="animation: FadeIn 1s ease-in-out">
            <h1 class="text-3xl font-bold mb-8 text-[var(--text)]">Welcome Boss <span class="text-[var(--primary)]">{{UserInfo.Name}}</span>!</h1>
            <div class="flex flex-wrap flex-col justify-center gap-2 mb-8">
                <div class="flex gap-4">
                    <div class="flex flex-col gap-4 bg-[var(--primary)]  text-white p-3 rounded-md w-1/2 boxShadow">
                        <h1 class="text-center text-xl font-bold">Total Customer</h1>
                        <p class="text-center text-xl font-bold" id="TotalCustomers">0</p>
                    </div>
                    <div class="flex flex-col gap-4 bg-[var(--primary)]  text-white p-3 rounded-md w-1/2 boxShadow">
                        <h1 class="text-center text-xl font-bold">Total Users</h1>
                        <p class="text-center text-xl font-bold" id="TotalUsers">0</p>
                    </div>
                    <div class="flex flex-col gap-4 bg-[var(--primary)]  text-white p-3 rounded-md w-1/2 boxShadow">
                        <h1 class="text-center text-xl font-bold">Total Orders</h1>
                        <p class="text-center text-xl font-bold" id="TotalOrders">0</p>
                    </div>
                </div>
                <div class="flex gap-4">
                    <div class="flex flex-col gap-4 bg-[var(--primary)]  text-white p-3 rounded-md w-1/2 boxShadow">
                        <h1 class="text-center text-xl font-bold">Pending Order</h1>
                        <p class="text-center text-xl font-bold" id="PendingOrders">0</p>
                    </div>
                    <div class="flex flex-col gap-4 bg-[var(--primary)]  text-white p-3 rounded-md w-1/2 boxShadow">
                        <h1 class="text-center text-xl font-bold">Finsihed Order</h1>
                        <p class="text-center text-xl font-bold" id="FinishedOrders">0</p>
                    </div>
                </div>
            </div>
            <div class="rounded-tl-full rounded-tr-full p-2 bg-white border-t-[3.5px] border-[var(--border)] text-[var(--primary)] w-[20%]">
                <div class="flex justify-center align-center mt-2">
                    <i class="fa-solid fa-circle-user text-3xl align-center "></i>
                    <p ng-show="isWeb" class="text-2xl font-bold">List</p>
                </div>
            </div>
            <div class="flex flex-col items-center gap-3">
                <div class="w-full bg-white rounde-xl shadow-sm">
                    <div class="p-6 space-y-3">
                        <div ng-repeat="user in userDatas"
                             class="flex items-center justify-between p-4 rounded-xl border border-gray-100
                             hover:shadow-md hover:-translate-y-1 transistion-all duration-300">

                            <!--Info & icon-->
                            <div class="flex items-center gap-3">
                            <div class="bg-[var(--border)] text-[var(--primary)] rounded-full p-3">
                                <i class="fa-regular fa-face-grin w-5 h-5 flex items-center justify-center"></i>
                            </div>

                                <div class="flex flex-col">
                                    <p class="text-base font-semibold text-[var(--text)]">
                                        {{user.Name}}
                                    </p>
                                    <p class="text-sm text-gray-500">
                                        {{user.Contact}}
                                    </p>
                                </div>

                            </div>

                            <!--Status-->
                            <div class="px-3 py-1 rounded-full text-sm font-md
                                 ng-class: user.isActive == 1 ? 'bg-blue-100 text-blue-700' : 'bg-gray-200 text-gray-600'">
                                {{user.isActive == 1 ? 'Active' : 'Inactive'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
