@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div ng-init="checkDatas()"
<h1>Welcome to homescreen</h1>

<table border="1" cellspacing="10">
    <tr>
        <th>Names</th>
        <th>Username</th>
        <th>Password</th>
        <th>Action</th>

    </tr>
    <tr ng-repeat="customer in customerArray">
        <td>{{customer.Names}}</td>
        <td>{{customer.Username}}</td>
        <td>{{customer.Password}}</td>
        <td>
            <button ng-click="updateFunction($index)">Update</button>
            <button ng-click="deleteFunction($index)">Delete</button>
        </td>
    </tr>


</table>
</div>