@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="min-h-screen flex justify-center text-black">
    <div class="w-full p-8">
        <p class="text-3xl font-bold text-center mb-2 text-[var(--text)]">launder<span class="text-3xl text-[var(--primary)]">Track</span></p>
        <p class="text-md font-bold text-center mb-8">Where Cleanliness Meets Reliability.</p>
        <div class="flex justify-center">
            <button ng-click="redirectFunc(2)" class=" max-w-[50%] border border-[var(--border)] w-full p-4 bg-[var(--primary)] font-bold transform uppercase rounded-full  transform hover:scale-105 transistion duration-300 text-[var(--bg)]">Sign Up</button>

        </div>
        <div class="flex flex-col justify-center mt-12">
            
            <h1 class="text-3xl font-bold  mb-8">What is <span class="text-[var(--text)]">launder<span class="text-[var(--primary)]">Track?</span></span></h1>
            <div class="flex justify-center">
                <p class="font-semibold text-[var(--text)]">LaunderTrack is an automated laundry management and order tracking system developed to streamline
                the operations of my laundry service. It helps manage customer orders, monitor the status of laundry items, 
                track payment updates in real time, and organize daily tasks within a centralized platform. 
                By utilizing digital tracking and smart management features,
                LaunderTrack improves accuracy, reduces manual workload, and enhances the overall service experience for customers.</p>
            </div>
        </div>
        <div class="flex justify-between mt-12">
            <div class="">
                <h1 class="text-xl font-bold uppercase text-[var(--primary)]">Vision</h1>
                <p class="font-semibold text-[var(--text)]">To enhance customer satisfaction by providing faster, organized, and reliable laundry service through an automated management system.</p>
            </div>
            <div class="">
                <h1 class="text-xl font-bold uppercase text-[var(--primary)]">Mission</h1>
                <ul class="font-semibold text-[var(--text)]">
                    <li>To improve the customer laundry experience by ensuring fast, organized, and transparent service.</li>
                    <li>To provide customers with efficient, accurate, and reliable laundry service through a smart management system.</li>
                    <li>To provide real-time order and payment tracking for better transparency</li>
                    <li>To enhance customer satisfaction through organized and reliable service.</li>
                </ul>
            </div>
            
        </div>

    </div>
 
</div>

