@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div ng-init="getData()">
    <div  class="min-h-screen flex items-center justify-center text-white" >
        <div class="w-full max-w-[420px] p-8"  style="animation: FadeIn 1s ease-in-out">
            <h1 class="text-3xl font-bold text-center mb-8 text-[var(--text)]">
                Login to <span class="text-[var(--primary)]">Washed Up</span>
            </h1>

            <div class="flex flex-col gap-4">
                <div class="flex flex-col gap-1">
                    <label for="loggedUsername" class="text-sm font-bold text-[var(--text-sub)]">Username: </label>
                    <input type="text"
                           class="validate rounded-md border-[1.5px] bg-[var(--border)] border-[var(--border)] p-3 focus:outline-none focus:border-[var(--primary)] focus:bg-[var(--bg)] text-black"
                           ng-model="loggedUsername"
                           placeholder="juan@gmail.com"/>
                    <label for="loggedPassword" class="text-sm font-bold text-[var(--text-sub)]">Password: </label>
                    <input type="text"
                           class="validate rounded-md border-[1.5px] bg-[var(--border)] border-[var(--border)] p-3 focus:outline-none focus:border-[var(--primary)] focus:bg-[var(--bg)] text-black"
                           ng-model="loggedPassword"
                           placeholder="juan123.."/>


                </div>
                <div class="flex flex-col gap-3">
                    <input type="submit"
                           value="Log in"
                           class="rounded-full bg-[var(--primary)] text-black font-bold border p-3 border-transparent transform hover:scale-105 transistion duration-300"
                           ng-click="loginFunction()" />
                    <input type="submit"
                           value="Cancel"
                           class="rounded-full bg-[#FF0000] text-black font-bold p-3 border border-transparent transform hover:scale-105 transistion duration-300"
                           ng-click="cancelLogin()" />
                    <a class="text-[var(--text)] text-center underline cursor-pointer transform hover:scale-105 transistion duration-300" ng-click="redirectFunc(2)">Don't have an Account?</a>
                </div>
            </div>
           
        </div>
       
    </div>
  

</div>

