@{
    Layout = "~/Views/Shared/_LayoutForContent.cshtml";
}
<div ng-init="getOrdersDataFunc(); getUsersDataFunc(); currentPage = 'Orders'" class="mainContainer">
    <div class="min-h-screen flex items-center justify-center text-white">
        <div class="w-full max-w-[90%] p-8">
            <h1 class="text-3xl font-bold mb-4 text-[var(--text)]">
                Add <span class="text-[var(--primary)]">Orders</span>
            </h1>
            <div class="flex flex-col gap-8 mb-8">
                <form class="flex flex-wrap p-4 border border-transparent rounded-md">
                    <div class="flex w-1/2 flex-col p-2">
                        <div class="flex justify-between"><label for="Name" class="text-sm text-[var(--text-sub)] font-bold">Ordered By: <span class="text-[#ff7276] text-md">*</span></label> <span class="text-[#ff7276] text-sm" ng-show="NameField">Please fill this field</span></div>
                        <select class="validate rounded-md bg-[var(--border)] border-[1.5px] border-[var(--border)] p-3 focus:outline-none  focus:border-[var(--primary)] focus:bg-[var(--bg)] text-black"
                                ng-model="Name"
                                ng-options="customer.CustomerID as (customer.CustomerID + ' - ' + customer.Name) for customer in userDatas">
                        </select>
                    </div>
                    <div class="flex w-1/2 flex-col p-2">
                        <div class="flex justify-between"><label for="Quantity" class="text-sm text-[var(--text-sub)] font-bold">Quantity: <span class="text-[#ff7276] text-md">*</span></label> <span class="text-[#ff7276] text-sm" ng-show="QuantityField">Please fill this field</span></div>
                        <input type="number"
                               class="validate  rounded-md bg-[var(--border)] border-[1.5px] border-[var(--border)] p-3 focus:outline-none  focus:border-[var(--primary)] focus:bg-[var(--bg)] text-black"
                               min="1"
                               ng-model="Quantity" required />
                      
                    </div>
                    <div class="flex w-1/2 flex-col p-2">
                        <div class="flex justify-between"><label for="Service" class="text-sm text-[var(--text-sub)] font-bold">Service Type: <span class="text-[#ff7276] text-md">*</span></label> <span class="text-[#ff7276] text-sm" ng-show="ServiceField">Please fill this field</span></div>
                        <select class="validate rounded-md bg-[var(--border)] border-[1.5px] border-[var(--border)] p-3 focus:outline-none focus:border-[var(--primary)] focus:bg-[var(--bg)] text-black"
                                ng-model="ServiceTypeID"
                                ng-options="order.ServiceTypeID as (order.ServiceTypeID + ' - ' + order.ServiceType) for order in servicesData"></select>
                    </div>
                    <div class="flex w-1/2 flex-col p-2">
                        <div class="flex justify-between"><label for="Paid" class="text-sm text-[var(--text-sub)] font-bold">Paid?: <span class="text-[#ff7276] text-md">*</span></label> <span class="text-[#ff7276] text-sm" ng-show="ServiceField">Please fill this field</span></div>
                        <select class="validate rounded-md bg-[var(--border)] border-[1.5px] border-[var--border)] p-3 focus:outline-none  focus:border-[var(--primary)] focus:bg-[var(--bg)] text-black"
                                ng-model="isPaid">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                        <input type="hidden" ng-model="isFinished" value="0"/>

                    </div>
                </form>

                <div class="flex flex-col gap-2">
                    <input type="submit"
                           ng-click="saveOrdersFunc()"
                           value="Add"
                           class="rounded-full bg-[var(--primary)] border border-transparent p-3 transform hover:scale-105 transistion duration-300 text-white font-bold" />
                    <input type="submit"
                           ng-click="removeFunction()"
                           value="Clear"
                           class="rounded-full bg-[#FF0000] border border-transparent p-3 transform hover:scale-105 transistion duration-300 text-black font-bold" />

                </div>
            </div>
            <div class="rounded-tl-full rounded-tr-full p-2 bg-white border-t-[3.5px] border-[var(--border)] text-[var(--primary)] w-[20%]">
                <div class="flex justify-center align-center mt-2">
                    <i class="fa-solid fa-circle-user text-3xl align-center "></i>
                    <p ng-show="isWeb" class="text-2xl font-bold">List</p>
                </div>
            </div>
            <div class="flex flex-col items-center gap-1">
                <div class="rounded-md bg-white border border-transparent w-full">
                    <div class="m-8">
                        <div ng-repeat="orders in ordersData track by orders.OrderID" class="transform hover:scale-105 transition duration-700 cursor-pointer">
                            <div class="border-b-[2.5px] border-[var(--border)] rounded-full font-bold flex p-2" ng-click="directOrderDetailsFunc(orders.OrderID)">
                                <div class="bg-[var(--border)] rounded-full text-[var(--primary)] p-4">
                                    <i class="fa-regular fa-face-grin m-[auto]"></i>
                                </div>
                                <div class="flex justify-between w-full">
                                    <div class="flex flex-col gap-1 ml-2 text-[var(--text)]">
                                        <p class="text-xl font-small">OrderID {{orders.OrderID}}</p>
                                        <div class="flex gap-2" ng-show="!isMobile">
                                            <p class="text-sm text-[var(--primary)]">{{orders.Price}}</p>
                                            <p class="mb-1">•</p>
                                            <p class="text-sm font-sm">{{orders.CreatedAt}}</p>
                                        </div>

                                    </div>
                                    <div class="flex mr-2 p-1 rounded-full text-sm text-black justify-center items-center"
                                         ng-class="{'bg-green-500 text-white': orders.isFinished == 1,
                                                    'bg-orange-500 text-black': orders.isFinished == 0}">
                                        <p>{{orders.isFinished == 1 ? 'Finished' : 'Pending'}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
