@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="min-h-screen flex items-center justify-center text-white">
    <div class="w-full max-w-[420px] p-8" style="animation: FadeIn 1s ease-in-out">
        <h1 class="text-3xl font-bold text-center mb-8">
            Sign up to Washed Up
        </h1>

        <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-1">
                <label for="Name" class="text-sm font-meduim">Name:</label>
                <input type="text"
                       class="validate rounded-md bg-transparent border border-whtie-600 p-3 focus:outline-none focus:border-white"
                       ng-model="Name" required />
                <label for="FName" class="text-sm font-meduim">Username:</label>
                <input type="text"
                       class="validate rounded-md bg-transparent border border-whtie-600 p-3 focus:outline-none focus:border-white"
                       ng-model="Username"
                       placeholder="juan@gmail.com" required />
                <label for="LName" class=" text-sm font-meduim">Password:</label>
                <input type="text"
                       class="validate  rounded-md bg-transparent border border-whtie-600 p-3 focus:outline-none focus:border-white"
                       ng-model="Password"
                       placeholder="juan123" required />
            </div>


            <div class="flex flex-col gap-2">
                <input type="submit"
                       ng-click="addFunction()"
                       value="Add"
                       class="rounded-full bg-[#008000] border border-transparent p-3 transform hover:scale-105 transistion duration-300 text-white font-bold" />
                <input type="submit"
                       ng-click="removeFunction()"
                       value="Remove"
                       class="rounded-full bg-[#FF0000] border border-transparent p-3 transform hover:scale-105 transistion duration-300 text-black font-bold" />
                <input type="submit"
                       ng-click="directLogin()"
                       ng-show="showButton"
                       value="Already have an Account?"
                       style="animation: FadeIn 1s ease-in-out"
                       class="rounded-full bg-white border border-transparent p-3 transform hover:scale-105 transistion duration-300 text-black font-bold" />
            </div>
        </div>
     
    </div>
</div>
  

