@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="min-h-screen flex items-center justify-center text-white">
    <div class="w-full max-w-[90%] p-8">
        <h1 class="text-3xl font-bold text-center mb-8 text-[var(--text)]">
            Sign Up To Start <span class="text-[var(--primary)]">Washing</span>
        </h1>
        <div class="flex flex-col gap-8">
            <form class="flex flex-wrap p-4 border border-transparent rounded-md">
                <div class="flex w-1/2 flex-col p-2">
                    <div class="flex justify-between"><label for="Name" class="text-sm font-meduim text-[var(--text-sub)] font-bold">Name: <span class="text-[#ff7276] text-md">*</span></label> <span class="text-[#ff7276] text-sm" ng-show="NameField">Please fill this field</span></div>
                    <input type="text"
                           class="validate rounded-md bg-[var(--border)] border-[1.5px] border-[var(--border)] p-3 focus:outline-none  focus:border-[var(--primary)] focus:bg-[var(--bg)] text-black"
                           placeholder="Juan Dela Cruz"
                           maxlength="50"
                           ng-model="Name" required />
                    
                </div>

                <div class="flex w-1/2 flex-col p-2">
                    <div class="flex justify-between"><label for="Name" class="text-sm font-meduim text-[var(--text-sub)] font-bold">Contact: <span class="text-[#ff7276] text-md">*</span></label> <span class="text-[#ff7276] text-sm" ng-show="ContactField">Please fill this field</span></div>
                    <input type="text"
                           class="validate rounded-md bg-[var(--border)] border-[1.5px] border-[var(--border)] p-3 focus:outline-none  focus:border-[var(--primary)] focus:bg-[var(--bg)] text-black"
                           placeholder="9272413924"
                           maxlength="12"
                           ng-model="Contact" required />
                </div>

                <div class="flex w-1/2 flex-col p-2">
                    <label for="Name" class="text-sm font-meduim text-[var(--text-sub)] font-bold">Address:</label>
                    <input type="text"
                           class="validate rounded-md bg-[var(--border)] border-[1.5px] border-[var--border)] p-3 focus:outline-none  focus:border-[var(--primary)] focus:bg-[var(--bg)] text-black"
                           placeholder="San Juan Manila"
                           maxlength="50"
                           ng-model="Address" required />
                </div>
                <div class="flex w-1/2 flex-col p-2">
                    <div class="flex justify-between"><label for="Name" class="text-sm font-meduim text-[var(--text-sub)] font-bold">RoleID: <span class="text-[#ff7276] text-md">*</span></label> <span class="text-[#ff7276] text-sm"  ng-show="RoleField">Please fill this field</span></div>
                    <select class="validate rounded-md bg-[var(--border)] border-[1.5px] border-[var(--border)] p-3 focus:outline-none focus:border-[var(--primary)] focus:bg-[var(--bg)] text-black"
                            ng-model="RoleID"> 
                        <option value="" disabled selected>-- Select --</option>
                        <option value="admin">1 = (Admin)</option>
                        <option value="customer">2 = (Customer)</option>
                    </select>

                </div>
                <div class="flex w-1/2 flex-col p-2">
                    <div class="flex justify-between"><label for="Name" class="text-sm font-meduim text-[var(--text-sub)] font-bold">Username: <span class="text-[#ff7276] text-md">*</span></label> <span class="text-[#ff7276] text-sm"  ng-show="UsernameField">Please fill this field</span></div>
                    <input type="text"
                           class="validate rounded-md bg-[var(--border)] border-[1.5px] border-[var(--border)] p-3 focus:outline-none  focus:border-[var(--primary)] focus:bg-[var(--bg)] text-black"
                           placeholder="juan@gmail.com" 
                           maxlength="50"
                           ng-model="Username" required />
                </div>
                <div class="flex w-1/2 flex-col p-2">
                    <div class="flex justify-between"><label for="Name" class="text-sm font-meduim text-[var(--text-sub)] font-bold">Password: <span class="text-[#ff7276] text-md">*</span></label> <span class="text-[#ff7276] text-sm" ng-show="PasswordField">Please fill this field</span></div>
                    <input type="text"
                           class="validate  rounded-md bg-[var(--border)] border-[1.5px] border-[var() p-3 focus:outline-none  focus:border-[var(--primary)] focus:bg-[var(--bg)] text-black"
                           placeholder="juan123" 
                           maxlength="50"
                           ng-model="Password" required />
                </div>
            </form>

            <div class="flex flex-col gap-2">
                <input type="submit"
                       ng-click="addFunction()"
                       value="Add"
                       class="rounded-full bg-[var(--primary)] border border-transparent p-3 transform hover:scale-105 transistion duration-300 text-white font-bold" />
                <input type="submit"
                       ng-click="removeFunction()"
                       value="Clear"
                       class="rounded-full bg-[#FF0000] border border-transparent p-3 transform hover:scale-105 transistion duration-300 text-black font-bold" />
                <input type="submit"
                       ng-click="directLogin()"
                       ng-show="showButton"
                       value="Already have an Account?"
                       style="animation: FadeIn 1s ease-in-out"
                       class="rounded-full bg-[var(--border)] border border-transparent p-3 transform hover:scale-105 transistion duration-300 text-black font-bold" />
            </div>

        </div>
      
    </div>
</div>
  

