@{
    Layout = "~/Views/Shared/_LayoutForContent.cshtml";
}

<div ng-init="getServicesDataFunc(); currentPage = 'Services'" class="mainContainer">
    <div class="min-h-screen flex items-center justify-center text-white">
        <div class="w-full max-w-[90%] p-8">
            <div class="flex justify-between">
                <h1 class="text-3xl font-bold mb-4 text-[var(--text)]">
                    <span class="text-[var(--primary)]">Services</span>
                </h1>
                <button ng-click="showFormService=true;" class="rounded-md border-[var(--border)] bg-[var(--primary)] p-3 active:bg-[#CBCBCB] duration-300">+ Add Service</button>
            </div>
            <div class="rounded-tl-full rounded-tr-full p-2 bg-white border-t-[3.5px] border-[var(--border)] text-[var(--primary)] w-[20%]">
                <div class="flex justify-center align-center mt-2">
                    <i class="fa-solid fa-circle-user text-3xl align-center "></i>
                    <p ng-show="isWeb" class="text-2xl font-bold">List</p>
                </div>
            </div>
            <div class="flex flex-col items-center gap-1">
                <div class="rounded-md bg-white border border-transparent w-full">
                    <div class="m-8">
                        <div ng-repeat="service in servicesData track by service.ServiceTypeID" class="transform hover:scale-105 transition duration-700 cursor-pointer"
                             ng-click="showServiceDetails(service.ServiceTypeID)">
                            <div class="border-b-[2.5px] border-[var(--border)] rounded-full font-bold flex p-2">
                                <div class="bg-[var(--border)] rounded-full text-[var(--primary)] p-4">
                                    <i class="fa-regular fa-face-grin m-[auto]"></i>
                                </div>
                                <div class="flex justify-between w-full">
                                    <div class="flex flex-col gap-1 ml-2 text-[var(--text)]">
                                        <p class="text-xl font-small">{{service.ServiceType}}</p>
                                        <div class="flex gap-2" ng-show="!isMobile">
                                            <p class="text-sm text-[var(--primary)]">{{service.Price}}</p>
                                            <p class="mb-1">•</p>
                                            <p class="text-sm font-sm">{{service.CreatedAt}}</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--- ADD SERVICE FORM -->
<div class="fixed bg-[var(--surface)] p-4 rounded-md top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 showForm" ng-show="showFormService">
    <div class="flex flex-col gap-8 mb-2">
        <div class="flex justify-between m-2">
            <div class="text-xl font-sm">Add Service</div>
            <i class="fa-solid fa-x cursor-pointer" ng-click="showFormService = false"></i>
        </div>
        <form class="flex flex-wrap p-4 border border-transparent rounded-md">
            <div class="flex w-1/2 flex-col p-2">
                <div class="flex justify-between"><label for="Name" class="text-sm text-[var(--text-sub)] font-bold">Service Name: <span class="text-[#ff7276] text-md">*</span></label> <span class="text-[#ff7276] text-sm" ng-show="ServiceTypeField">Please fill this field</span></div>
                <input type="text"
                       maxlength="70"
                       class="inputBox validate rounded-md bg-[var(--border)] border-[1.5px] border-[var(--border)] p-3 focus:outline-none  focus:border-[var(--primary)] focus:bg-[var(--bg)] text-black"
                       ng-model="ServiceType" />
            </div>
            <div class="flex w-1/2 flex-col p-2">
                <div class="flex justify-between"><label for="Quantity" class="text-sm text-[var(--text-sub)] font-bold">Price: <span class="text-[#ff7276] text-md">*</span></label> <span class="text-[#ff7276] text-sm" ng-show="PriceField">Please fill this field</span></div>
                <input type="number"
                       class="inputBox validate  rounded-md bg-[var(--border)] border-[1.5px] border-[var(--border)] p-3 focus:outline-none  focus:border-[var(--primary)] focus:bg-[var(--bg)] text-black"
                       min="100"
                       placeholder="100"
                       ng-model="Price" required />

            </div>

        </form>

        <div class="flex flex-wrap gap-2 m-2">
            <div class="flex w-full gap-2">
                <input type="submit"
                       ng-click="saveServicesFunc()"
                       value="Add"
                       class="flex w-1/2 rounded-full bg-[var(--primary)] border border-transparent p-3 transform hover:scale-[1.01] transistion duration-300 text-white font-bold" />
                <input type="submit"
                       ng-click="removeFunction()"
                       value="Clear"
                       class="flex w-1/2 rounded-full bg-[#FF0000] border border-transparent p-3 transform hover:scale-[1.01] transistion duration-300 text-black font-bold" />

            </div>
        </div>
    </div>

</div>

<!--Details Form-->
<div class="fixed bg-[var(--surface)] p-4 rounded-md top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 showForm" ng-show="showDetailsService">
    <div class="flex flex-col gap-8 mb-2">
        <div class="flex justify-between m-2">
            <div class="text-xl font-sm">Add Customer</div>
            <i class="fa-solid fa-x cursor-pointer" ng-click="showDetailsService = false"></i>
        </div>
        <form class="flex flex-wrap p-4 border border-transparent rounded-md">
            <div class="flex w-1/2 flex-col p-2">
                <div class="flex justify-between"><label for="Quantity" class="text-sm text-[var(--text-sub)] font-bold">ServiceTypeID:</label></div>
                <div class="inputBox validate  rounded-md bg-[var(--border)] border-[1.5px] border-[var(--border)] p-3 focus:outline-none  focus:border-[var(--primary)] focus:bg-[var(--bg)] text-black">
                    {{DetailsServiceTypeID}}
                </div>

            </div>
            <div class="flex w-1/2 flex-col p-2">
                <div class="flex justify-between"><label for="Name" class="text-sm text-[var(--text-sub)] font-bold">Service Name: <span class="text-[#ff7276] text-md">*</span></label> <span class="text-[#ff7276] text-sm" ng-show="ServiceTypeField">Please fill this field</span></div>
                <input type="text"
                       maxlength="30"
                       class="inputBox validate rounded-md bg-[var(--border)] border-[1.5px] border-[var(--border)] p-3 focus:outline-none  focus:border-[var(--primary)] focus:bg-[var(--bg)] text-black"
                       ng-model="DetailsServiceType" />
            </div>
            <div class="flex w-1/2 flex-col p-2">
                <div class="flex justify-between"><label for="Quantity" class="text-sm text-[var(--text-sub)] font-bold">Price: <span class="text-[#ff7276] text-md">*</span></label> <span class="text-[#ff7276] text-sm" ng-show="PriceField">Please fill this field</span></div>
                <input type="number"
                       class="inputBox validate  rounded-md bg-[var(--border)] border-[1.5px] border-[var(--border)] p-3 focus:outline-none  focus:border-[var(--primary)] focus:bg-[var(--bg)] text-black"
                       min="100"
                       maxlength="9"
                       placeholder="100"
                       ng-model="DetailsPrice" required />

            </div>
            <div class="flex w-1/2 flex-col p-2">
                <div class="flex justify-between"><label for="Quantity" class="text-sm text-[var(--text-sub)] font-bold">CreatedAt:</label></div>
                <div class="inputBox validate  rounded-md bg-[var(--border)] border-[1.5px] border-[var(--border)] p-3 focus:outline-none  focus:border-[var(--primary)] focus:bg-[var(--bg)] text-black">
                    {{DetailsCreatedAt}}
                </div>

            </div>
        </form>

        <div class="flex flex-wrap gap-2 m-2">
            <div class="flex w-full gap-2">
                <input type="submit"
                       ng-click="saveServicesFunc(DetailsServiceTypeID)"
                       value="Save"
                       class="flex w-1/2 rounded-full bg-[var(--primary)] border border-transparent p-3 transform hover:scale-[1.01] transistion duration-300 text-white font-bold" />
                <input type="submit"
                       ng-click="deleteServiceFunc(DetailsServiceTypeID)"
                       value="Delete"
                       class="flex w-1/2 rounded-full bg-[#FF0000] border border-transparent p-3 transform hover:scale-[1.01] transistion duration-300 text-black font-bold" />

            </div>
        </div>
    </div>

</div>